*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
*.ts linguist-detectable=true
*.yml linguist-detectable=true
*.md linguist-detectable=true
*.py linguist-detectable=true
